#board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    grid-gap: 5px;
    width: 315px;
}

.cell {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    border: 2px solid black;
    cursor: pointer;
}
