body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.container {
    margin: 20px auto;
    padding: 20px;
}

#additionGrid {
    display: grid;
    grid-template-columns: repeat(var(--numDigits), 60px);
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.cell {
    text-align: center;
    vertical-align: middle;
    font-size: 24px;
}

.carry {
    height: 30px;
    font-size: 18px;
    border: none;
}
